<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device_width" , initial-scale="1.0">
    <link rel="stylesheet" href="../static/bootstrap.css">
    <title>Rain Blog</title>
</head>

<body class="bg-secondary">
<!-- Wrap the whole page in a div, this uses the container class which sets it to a fixed size depending on the media query-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="http://localhost:63342/comp0034-html/home_page.html?_ijt=i51oug65ishikc486rskbp4f0e">Rain Blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="http://localhost:63342/my_exercise/templates/home_page.html?_ijt=cu8iti3bhshobq6cdrlh7t5hql">Home<span class="sr-only"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:63342/my_exercise/templates/sign_up.html?_ijt=cu8iti3bhshobq6cdrlh7t5hql">Sign up</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search for a city" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="text-center">
    <img class="rounded-0" src="../static/rain.jpg" alt="rain image" width="380" height="120">
    <h1 class="display-3">rain forecast blog</h1>
</div>


<div class="container">
    <main>
        <div class="row">
            <!-- Wrap each course in div that will display them as 3 equal columns on medium size devices and above
            (below size md it will display as a single column)-->
            <div class="col-md">
                <h2>What is the rain</h2>
                <p>Rain is liquid water in the form of droplets that have condensed from atmospheric water vapor and then become heavy enough to fall under gravity.
                    Rain is a major component of the water cycle and is responsible for depositing most of the fresh water on the Earth.
                    It provides suitable conditions for many types of ecosystems, as well as water for hydroelectric power plants and crop irrigation.
                    The major cause of rain production is moisture moving along three-dimensional zones of temperature and moisture contrasts known as weather fronts.
                    If enough moisture and upward motion is present, precipitation falls from convective clouds (those with strong upward vertical motion)
                    such as cumulonimbus (thunder clouds) which can organize into narrow rainbands.
                    In mountainous areas, heavy precipitation is possible where upslope flow is maximized within windward sides of the terrain at elevation
                    which forces moist air to condense and fall out as rainfall along the sides of mountains.
                    On the leeward side of mountains, desert climates can exist due to the dry air caused by downslope flow which causes heating and drying of the air mass.
                    The movement of the monsoon trough, or intertropical convergence zone, brings rainy seasons to savannah climes.
                    The urban heat island effect leads to increased rainfall, both in amounts and intensity, downwind of cities.
                    Global warming is also causing changes in the precipitation pattern globally, including wetter conditions across eastern North America and drier conditions in the tropics.
                    Antarctica is the driest continent.
                    The globally averaged annual precipitation over land is 715 mm (28.1 in), but over the whole Earth it is much higher at 990 mm (39 in).
                    Climate classification systems such as the Köppen classification system use average annual rainfall to help differentiate between differing climate regimes.
                    Rainfall is measured using rain gauges. Rainfall amounts can be estimated by weather radar.
                    Heavy rain falling over the desert at sunset. Rain is also known or suspected on other planets,
                    where it may be composed of methane, neon, sulfuric acid, or even iron rather than water. </p>
            </div>
        </div>
    </main>
</div>

<div class="row">
    <div class="col-md">
    </div>
     <div class="col-md">
    </div>
    <div class="col-md">
        <h2>Sign up as a member</h2>
            <form action="/action_page.php" method="post">
              <p class="">
              <input type="text" name="firstname"
             value="Your username"><br></p>
              <p>
              <input type="text" name="lastname"
             value="Your password"> <input type="submit" value="Sign up"></p>
            </form>
            <form action="/action_page.php" method="post">
              <p>
              <input type="text" name="email"
            value="Your email address"> <input type="submit" value="Subscribe"></p>
            </form>
            <footer class="text-center">
                <hr>
                <p>Paragraph is from Wikipedia</p>
            </footer>
    </div>
    <div class="col-md">
    </div>
    <div class="col-md">
    </div>
</div>

</body>
</html>