{% extends "base.html" %}
{% block title %} Signup {% endblock %}
{% block content %}
    <div class="row">
    <div class="col-md">
    </div>
    <div class="col-md">
         {% if form.errors %}
            <ul class="alert-warning list-unstyled">
                {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                    {% for error in field_errors %}
                        <li>{{ form[field_name].label }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
             </ul>
        {% endif %}
    </div>
    <form action="" method="post" novalidate>
        {{ form.csrf_token }}
        {{ form.username.label }}{{ form.username(class="form-control") }}
        {{ form.email.label }}{{ form.email(class="form-control") }}
        {{ form.password.label }}{{ form.password(class="form-control") }}
        {{ form.confirm.label }} {{ form.confirm(class="form-control") }}
        <br>{{ form.submit(class_="btn btn-primary") }}
    </form>
    <div class="col-md">
    </div>
    <div class="col-md">
    </div>
    </div>
{% endblock %}
